@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111921;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111921;
    --foreground: #ededed;
  }
}

body {
}
